<% provide :title, "#{t 'about'}" %>
<h1><%= t :about %></h1>
<p>
  <%= t :the %>
  <a href="http://www.railstutorial.org/">
    <em>
      <%= t :ror_tut %>
    </em>
  </a> <%= t :abt_1 %>
  <a href="http://www.railstutorial.org/book"><%= t :book %></a> <%= t :and %>
  <a href="http://screencasts.railstutorial.org/"><%= t :abt_2 %></a>
  <%= t :abt_3 %>
  <a href="http://rubyonrails.org/"><%= t :ror %></a>.
  <%= t :abt_4 %>
</p>
