<% provide :title, t(".help") %>
<h1><%= t ".help" %></h1>
<p>
  <%= t "sentence.help.get" %>
  <%= link_to t("sentence.help.page"), t("common.rails_tut_help_url") %>
  <%= t "sentence.help.sample" %>
  <%= link_to t "common.rails_tut_book_url" do %>
    <em><%= t "common.rubyonrails_tut" %></em>
  <% end %>
</p>
