<% provide :title, "#{t 'help'}" %>
<h1><%= t :help %></h1>
<p>
  <%= t :help_1 %>
  <a href="http://www.railstutorial.org/help"><%= t :help_2 %></a>.
  <%= t :help_3 %>
  <a href="http://www.railstutorial.org/book"><em><%= t :ror_tut %></em>
  <%= t :book %></a>.
</p>
