<div class="center jumbotron">
  <h1><%= t ".welcome" %></h1>
  <h2>
    <%= t ".page" %>
    <%= link_to t("rubyonrails_tut"), t("url.rails_tut_url") %>
    <%= t ".sample" %>
  </h2>
  <%= link_to t(".signup"), signup_path, class: "btn btn-lg btn-primary" %>
</div>
