<div class="center jumbotron">
  <h1><%= t "sentence.home.welcome" %></h1>
  <h2>
    <%= t "sentence.home.page" %>
    <%= link_to t("common.rubyonrails_tut"), t("common.rails_tut_url") %>
    <%= t "sentence.home.sample" %>
  </h2>
  <%= link_to t("sentence.home.signup"), signup_path,
    class: "btn btn-lg btn-primary" %>
</div>
