<div class="center jumbotron">
  <h1><%= t :welcome %></h1>
  <h2>
    <%= t :home_1 %>
    <a href="http://www.railstutorial.org/"><%= t :ror_tut %></a>
    <%= t :home_2 %>
  </h2>
  <%= link_to "#{t 'sgup_h'}", signup_path, class: "btn btn-lg btn-primary" %>
</div>
