<footer class="footer">
  <small>
    <%= t "matched.the" %>
    <%= link_to t("common.rubyonrails_tut"), t("common.rails_tut_url") %>
    <%= t "matched.by" %>
    <%= link_to t(".book_author"), t("common.book_author_url") %>
  </small>
  <nav>
    <ul>
      <li><%= link_to t(".about"), about_path %></li>
      <li><%= link_to t(".news"), t("common.rails_tut_new_url") %></li>
    </ul>
  </nav>
</footer>
