<footer class="footer">
  <small>
    <%= t "word.the" %>
    <%= link_to t("rubyonrails_tut"), t("url.rails_tut_url") %>
    <%= t "word.by" %>
    <%= link_to t(".book_author"), t("url.book_author_url") %>
  </small>
  <nav>
    <ul>
      <li><%= link_to t(".about"), about_path %></li>
      <li><%= link_to t(".news"), t("url.rails_tut_new_url") %></li>
    </ul>
  </nav>
</footer>
