<footer class="footer">
  <small>
    <%= t :the %> <a href="http://www.railstutorial.org/"><%= t :ror_tut %></a>
    <%= t :by %> <a href="http://www.michaelhartl.com/"><%= t :b_author %></a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "#{t 'about'}", about_path %></li>
      <li><%= link_to "#{t 'contact'}", contact_path %></li>
      <li><a href="http://news.railstutorial.org/"><%= t :news %></a></li>
    </ul>
  </nav>
</footer>
